<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/register-login.css">
    <title>Registro</title>
</head>
<body>
    <nav>
        <a href="/">Ir a Inicio</a>
    </nav>
    <h1>Registro</h1>
    <form action="/auth/register" method="POST" enctype="multipart/form-data">
        <div>
            <label>
                Email:
                <input type="email" name="email" placeholder="Email">
            </label>
        </div>
        <div>
            <label>
                Nombre de usuario:
                <input type="text" name="username" placeholder="Nombre de usuario">
            </label>
        </div>
        <div>
            <label>
                Contraseña:
                <input type="password" name="password" placeholder="Contraseña">
            </label>
        </div>

        <h2>Datos Personales:</h2>
        <div>
            <label>
                Edad:
                <input type="number" name="age" placeholder="Ingrese tu edad">
            </label>
        </div>
        <div>
            <label>
                Nacionalidad:
                <input type="text" name="nationality" placeholder="De que país eres?">
            </label>
        </div>
        <div>
            <label>
                Imagen:
                <input type="file" name="image">
            </label>
        </div>
        <div>
            <label>
                Posicion:
                <input type="text" name="position" placeholder="Posicion Favorita">
            </label>
        </div>
        
        <input type="submit" value="REGISTER">
    </form>
</body>
</html>
