<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/teams.css">
    <style>
        img {
            height: 200px;
            width: 200px;
        }
    </style>

    <title>Equipos</title>
</head>
<body>
    <nav>
        <a class="nav-item" href="/">Inicio</a>
        <a class="nav-item" href="/teams/create">Crea tu equipo!</a>
    </nav>

    <h1>Equipos disponibles: </h1>
    <ul>
        {{#each teams}}
            <li>
                <a class="item" href="/teams/{{_id}}">
                <h3>{{name}}</h3>
                </a>
                {{#if image}}
                    <img src="{{image}}" alt="avatar">
                {{/if}}
                <form method="POST" action="/teams/{{_id}}">
                    <button type="submit">Elimina tu Equipo</button>
                </form>
                <form method="POST" action="/teams/add-user/{{_id}}">
                    <button type="submit">Unirse a este Equipo</button>
                </form>
            </li>
        {{/each}}
    </ul>
</body>
</html>
