<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/team.css">
    <title>Página de {{team.name}}</title>
    <style>
        img {
            height: 200px;
            width: 200px;
        }
    </style>
</head>
<body>
    <nav>
        <a class="nav-item" href="/">Inicio</a>
        <a class="nav-item" href="/teams">Equipos</a>
    </nav>
    {{#if team}}
    <div class="menu">
        <div class="card">
            <h1>{{team.name}}</h1>
            {{#if team.image}}
                <img src="{{team.image}}" alt="escudo">
            {{/if}}
            <h3>ID del equipo: {{team._id}}</h3>
            <a class="card-admin" href="/users/{{team.admin}}">Administrador del equipo!</a>
        </div>
        <div>
            <h1>Usuarios: </h1>
            {{#each team.users}}
            <div>
                <a href="/users/{{this._id}}">{{this.username}}</a>
                <img class="miniature" src="{{this.personalInfo.image}}">
                <hr>
            </div>
            {{/each}}
        </div>
        <div>
            <h1>Torneos en donde participa: </h1>
            {{#each team.tournaments}}
            <div>
                <a href="/tournaments/{{this._id}}">{{this.name}}</a>
                <img class="miniature" src="{{this.image}}">
                <hr>
            </div>
            {{/each}}
        </div>
    </div>
    <div>
        <h1>Tareas para el administrador: </h1>
        <form action="/teams/edit/{{team._id}}" method="POST" enctype="multipart/form-data">
            <h3>Edita tu equipo: </h3>
            <input type="text" name="name">
            <input type="file" name="image">
            <input type="submit" value="Cambiar">
        </form>
        <form action="/teams/delete-user/{{team._id}}" method="POST">
            <h3>Expulsa a un usuario del equipo: </h3>
            <input type="text" name="userId">
            <input type="submit" value="Expulsar">
        </form>
    </div>
    {{/if}}
</body>
</html>
