<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Inicio</title>
</head>
<body>
    {{#if user}}
    <nav>
        <h3>Hola, {{user.username}}</h3>
        <a href="users/{{user._id}}">Ver mi Perfil</a>
        <form action="/auth/logout" method="POST">
            <button type="submit">Desloguearse</button>
        </form>
        <a href="/users">Usurios Registrados</a>
    </nav>
    {{else}}
    <nav>
        <a href="/auth/login">Login</a>
        <a href="/auth/register">Registro</a>
        <a href="/users">Usurios Registrados</a>
    </nav>
    {{/if}}

    <h1>{{ title }}</h1>
    <div class="menu">
        <a class="menu-item" href="/tournaments">Torneos</a>
        <a class="menu-item" href="/teams">Equipos</a>
    </div>
</body>
</html>
