<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/register-login.css">
    <title>Crea tu Torneo!</title>
</head>
<body>
    <nav>
        <a href="/">Inicio</a>
        <a href="/tournaments">Torneos</a>
    </nav>
    <form action="/tournaments/create" method="POST" enctype="multipart/form-data">
        <div>
            <label>
                Nombre:
                <input type="text" name="name" placeholder="Elige un nombre para tu torneo">
            </label>
        </div>
        <div>
            <label>
                Imagen:
                <input type="file" name="image">
            </label>
        </div>
        <input type="submit" value="Crea tu Torneo!">
    </form>
</body>
</html>