<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/team.css">
    <style>
        img {
            height: 200px;
            width: 200px;
        }
    </style>
    <title>Página de {{tournament.name}}</title>
</head>
<body>
    <nav>
        <a class="nav-item" href="/">Inicio</a>
        <a class="nav-item" href="/tournaments">Torneos</a>
    </nav>
    {{#if tournament}}
    <div class="menu">
        <div class="card">
            <h1>{{tournament.name}}</h1>
            {{#if tournament.image}}
                <img src="{{tournament.image}}" alt="escudo">
            {{/if}}
            <h3>ID del torneo: {{tournament._id}}</h3>
            <a class="card-admin" href="/users/{{tournament.admin}}">Administrador del equipo!</a>
        </div>
        <div>
            <h1>Equipos inscriptos: </h1>
            <form method="POST" action="/tournaments/add-team/{{tournament._id}}">
                    <input type="text" name="teamId">
                    <button type="submit">Agrega Participante nuevo al torneo</button>
            </form>
            <form method="POST" action="/tournaments/delete-team/{{tournament._id}}">
                    <input type="text" name="teamId">
                    <button type="submit">Expulsa a un equipo del torneo</button>
            </form>
            <hr>
            {{#each tournament.teams}}
            <a href="/teams/{{this._id}}">
                <div>{{this.name}}</div>
                <img class="miniature "src="{{this.image}}">
            </a>
            <hr>
            {{/each}}
        </div>
    </div>
    <div>
        <h1>Tareas para el administrador:</h1>
        <form action="/tournaments/edit/{{tournament._id}}" method="POST" enctype="multipart/form-data">
            <h3>Edita tu Torneo: </h3>
            <input type="text" name="name">
            <input type="file" name="image">
            <input type="submit" value="Cambiar">
        </form>
    </div>
    {{/if}}
</body>
</html>
