<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/teams.css">
    <style>
        img {
            height: 200px;
            width: 200px;
        }
    </style>
    <title>Torneos Disponibles</title>
</head>
<body>
    <nav>
        <a class="nav-item" href="/">Ir a Inicio</a>
        <a class="nav-item" href="/tournaments/create">Crea tu Torneo</a>
    </nav>

    <h1>Torneos en Vigencia:</h1>
    <ul>
        {{#each tournaments}}
            <li>
                <a class="item" href="/tournaments/{{_id}}">
                    <h3>{{name}}</h3>
                </a>
                <img src="{{image}}" alt="">
                <form method="POST" action="/tournaments/{{_id}}">
                    <button type="submit">Elimina tu Torneo</button>
                </form>
            </li>
        {{/each}}
    </ul>
</body>
</html>
