body {
    background-color: lightgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

h1 { 
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin: 0 25px;
    border: 3px solid black;
    padding: 5px 30px;
    width: 250px;
    height: 400px;
    background-image: url('https://img1.freepng.es/20180405/bue/kisspng-rangers-f-c-football-pitch-midfielder-sport-soccer-field-5ac5f5cdbb8110.374774351522922957768.jpg');
    background-position: center;
}