body {
    background-color: lightgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

form {
    align-items:center;
    margin: 100px 500px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-bottom: 50px;
}
input {
    margin-top: 25px;
    width: 250px;
    margin-bottom: 10px;
}