body {
    background-color: lightgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    background-color: white;
}

.nav-item {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: red;
}

.card {
    border: solid 4px black;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-admin {
    text-decoration: none;
    color: red;
    margin-bottom: 25px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.miniature {
    width: 50px;
    height: 50px;
}