body {
    background-color: lightgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    margin: 5px 40px;
    list-style: none;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}

.item {
    text-decoration: none;
    color: red;
}

.nav-item {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: red;
}