<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/team.css">
    <style>
        img {
            height: 200px;
            width: 200px;
        }
    </style>
    <title>Página de {{user.name}}</title>
</head>
<body>
    <nav>
        <a class="nav-item" href="/">Inicio</a>
    </nav>
    {{#if user}}
    <div class="menu">
        <div class="card">
            <h1>{{user.username}}</h1>
            {{#if user.personalInfo.image}}
                <img src="{{user.personalInfo.image}}" alt="escudo">
            {{/if}}
            <h3>Tu ID: {{user._id}}</h3>
            <h3>{{user.email}}</h3>
        </div>
        <div>
            <h1>Datos Personales: </h1>
            <p>Edad: {{user.personalInfo.age}}</p>
            <p>Pais: {{user.personalInfo.nationality}}</p>
            <hr>
        </div>
        <div>
            <h1>Estadisticas: </h1>
            <p>Goles: {{user.stats.goals}} </p>
            <p>Asistencias: {{user.stats.asists}} </p>
            <p>Posicion: {{user.personalInfo.position}}</p>
            <hr>
        </div>
        <div>
            <h1>Mis Equipos: </h1>
            {{#each user.teams}}
            <a href="/teams/{{this._id}}">
                <div>{{this.name}}</div>
                <img class="miniature" src="{{this.image}}">
                <hr>
            </a>
            {{/each}}
        </div>
        <div>
            <h1>Torneos que administro: </h1>
            {{#each user.tournaments}}
            <a href="/tournaments/{{this._id}}">
                <div>{{this.name}}</div>
                <img class="miniature" src="{{this.image}}">
                <hr>
            </a>
            {{/each}}
        </div>
    </div>
    {{/if}}
</body>
</html>
