<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/teams.css">
    <style>
        img {
            height: 200px;
            width: 200px;
        }
    </style>

    <title>Usuarios Registrados</title>
</head>
<body>
    <nav>
        <a class="nav-item" href="/">Inicio</a>
    </nav>

    <h1>Usuarios que se han registrado hasta ahora: </h1>
    <ul>
        {{#each users}}
            <li>
                <a class="item" href="/users/{{_id}}">
                <h3>{{username}}</h3>
                </a>
                {{#if personalInfo.image}}
                    <img src="{{personalInfo.image}}" alt="avatar">
                {{/if}}
            </li>
        {{/each}}
    </ul>
</body>
</html>